services:
  db:
    image: postgis/postgis:16-3.4
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: nestjs_backend
    restart: always
    ports:
      - "3000:3000"  # <--- CORREÇÃO 1: Mudei para 3333 para bater com seu Postman/App
    environment:
      # A URL continua usando '@db' que é o nome do serviço acima
      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?schema=public"
      # CORREÇÃO 2: Adicionando a variável que faltava!
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - db

  frontend:
    build: ./web
    container_name: react_frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  pgdata: