.card-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-weight: bold;
  transition: opacity 0.2s;
}

.card-logout:hover {
  opacity: 0.7;
}