.botao {
  padding: 20px 40px;
  border-radius: 8px;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s, color 0.2s, border 0.2s;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  border: 3px solid var(--cor-borda);
}

.botao:hover {
  color: var(--cor-texto-hover);
  transform: scale(1.05);
}

.botao:active {
  background-color: transparent !important;
  color: var(--cor-texto) !important;
  border-color: var(--cor-borda) !important;
  transform: scale(1);
}
