.input-container {
  margin-bottom: 1rem;
  position: relative;
}

.input-label {
  display: block;
  margin-bottom: 0.25rem;
}

.input-wrapper {
  position: relative;
}

.input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.input.with-icon.left {
  padding-left: 2.5rem;
}

.input.with-icon.right {
  padding-right: 2.5rem;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
}

.input-icon.left {
  left: 0.75rem;
}

.input-icon.right {
  right: 0.75rem;
}
