@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
li {
  color: #2c2c2c;
}

body {
  background-color: #f7f7f7;
  height: 100vh;
}

#root {
  height: 100%;
}

main {
  padding-left: 200px;
  padding-top: 50px;
  padding-right: 60px;
  padding-bottom: 50px;
  overflow-y: auto;
  height: 100%;
}

.conteudo {
  margin-top: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
